@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

h1 {
  font-family: 'Pixelify Sans', sans-serif;
  color: rgb(53, 28, 104);
  
}

* {
  background-color: rgb(244, 236, 22);
}

